

/* Tous les slides plus petits */
.p-carousel .p-carousel-item {
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(0.8);
    transform: scale(0.85);
    opacity: 0.7;
  }
  
  /* Slide actif zoomé et lumineux */
  .p-carousel .p-carousel-item.p-carousel-item-active {
    filter: brightness(1);
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
  @media screen and (max-width: 560px) {
    :host ::ng-deep .p-carousel .p-carousel-item {
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  }
  