.container {
  background-image: linear-gradient(
    to right,
    rgb(23 37 84 / 0.8),
    rgb(23 37 84 / 0)
  );
}
.highlighted-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #1a1a1a;
  text-align: center;
  line-height: 1.5;
  color: rgb(255 255 255 / 0.9);
}
