<div class="card-container">
    <div class="image-box"></div>
  
    <div class="info-section">
      <div class="title">{{ title }}</div>
      <div class="details">{{ bassin }} • {{ dateRange }}</div>
      <button pButton type="button" class="p-button-outlined category-btn" [label]="categoryLabel"></button>
    </div>
  
    <div class="action-section">
      <button pButton type="button" class="p-button-raised p-button-primary result-btn">
        Details
        <i class="pi pi-arrow-right ml-2"></i>
      </button>
    </div>
  </div>
  