.hero-container {
  background-image: url('../../../assets/images/SwimUp.jpg');
  background-size: cover;
  background-position: center;
  clip-path: ellipse(150% 87% at 93% 13%);
  width: 100%;
   height: 70vh;/* Ajuste selon la hauteur souhaitée */
  position: relative;
}

/* Petite taille d'écran (mobile) */
@media (max-width: 767px) {
  .hero-container {
    clip-path: ellipse(130% 80% at 90% 10%);
    height: 50vh;
  }
}

/* Taille moyenne (tablettes) */
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-container {
    clip-path: ellipse(140% 85% at 92% 12%);
    height: 55vh;
  }

  .content-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Grande taille d'écran (desktop) */
@media (min-width: 1024px) {
  .hero-container {
    clip-path: ellipse(150% 87% at 93% 13%);
    height: 85vh;
  }

  .content-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.image-container {
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .image-container {
    height: 500px; /* Ajustement de la hauteur sur les écrans plus larges */
  }
}

